<aside class="p-4 bg-gray-600 text-white w-1/4 h-full max-w-64">
	<h5 class="text-lg font-bold mb-4 uppercase">Browse Topics</h5>
	<div class="flex items-center gap-4">
		<div class="flex flex-col items-start gap-4">
			<a href="{% url 'home' %}" class="text-slate-300 hover:text-white font-semibold">All</a>
			{% for topic in topics %}
			<a href="{% url 'home' %}?q={{ topic.name }}" class="text-slate-300 hover:text-white font-semibold">
				{{topic.name}}</a>
			{% endfor %}
		</div>
	</div>
</aside>